.thehub > p {
  width : 94px !important;
}

.rateMyProfessor-rating {
  font-weight: bold !important;
  font-style: italic;
  margin-top: 2px;
  padding: 2px 0px;
}

.rateMyProfessor-rating > span {
  font-weight : normal !important;
}