.thehub > p {
  width : 105px !important;
}

.rateMyProfessor-rating {
  font-weight: bold !important;
  font-style: italic;
  margin-top: 2px;
  padding: 2px 0px;
  font-size : 16px;
}

.rateMyProfessor-rating > span {
  font-weight : normal !important;
}